<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O'qituvchilar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">School Management</a>
        </div>
    </header>

    <main>
        <h1>O'qituvchilar</h1>
        <ul class="list">
            {% for teacher in teachers %}
                <li>
                    <a href="{{ url_for('teacher_detail', teacher_id=teacher['id']) }}">{{ teacher['name'] }} {{ teacher['surname'] }}</a>
                    <p>{{ teacher['subject'] }} darsini o'qitadi, {{ teacher['experience'] }} yillik tajribaga ega</p>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
